//  主题色定义
$primary: #3883F8;
$success: #64D274;
$warning: #FDAD4D;
$error:  #FE5353;
$silent: #88BECB;

// 字体颜色定义
$color-title: #232426;
$color-body: #303336;
$color-body-se: #5C6268;
$color-hit: #8C939B;
$color-disabled: #B8BEC8;
$color-link: #2082ED;

// 字体大小
$font-size: 14px;

// 线条颜色定义
$color-border: #D3D9E2;
$color-divider: #E6EAEF;

// 背景颜色定义:
$bg-default: #F0F2F5;
$bg-header: #F4F7FD;
$bg-cornt: #FFF;
$bg-active: #F0F8FF;
$bg-unfold: #F9FBFF;
$bg-side: #F1F4FA;
$bg-disabled: #F5F5F5;
$bg-control: #FFF;
